ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

.spacer {
  flex: 1 1 auto;
}

.criar-item {
  color: white;
}

.minhas {
  left: 50%;
  margin-left: -3px;
}

