ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul {
  display: flex;
}

.spacer {
  flex: 1 1 auto;
}

.criar-item {
  color: white;
}

.titulo{
  color:white;
  text-decoration: none;
}

.titulo2{
  color:white;
  text-decoration: none;

}

.list-itens {
  text-align: center;
}

a{
  text-decoration: none;
  color:white;
}

