<mat-toolbar color="primary">
  <span>
    <a routerLink="/">ManageMySpace</a>
  </span>
  <span class="spacer"></span>
  <ul>
    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink="/criar" routerLinkActive="criar-item">Criar Reserva</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/auth/login" routerLinkActive="criar-item">Login</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/auth/signup" routerLinkActive="criar-item">Registar</a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <button mat-button routerLink="/" (click)="onLogout()">Logout</button>
    </li>
  </ul>
</mat-toolbar>
