<mat-toolbar color="primary">
    <i class="material-icons" md-48>
        home
        </i>
  <span>
    <a routerLinkActive="titulo" routerLink="/">  ManageMySpace</a>
  </span>
  <span class="spacer"></span>
  <ul>
    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink="/criar" routerLinkActive="criar-item"><i class="material-icons">event_available</i> Criar Reserva</a>
    </li>
    <button mat-button [matMenuTriggerFor]="menu">
      <i class="material-icons">account_circle</i>
      Login/Registo
    </button>
    <mat-menu #menu="matMenu" xPosition="after">
      <button mat-menu-item *ngIf="!userIsAuthenticated" routerLink="/auth/login" >Login</button>
      <button mat-menu-item *ngIf="!userIsAuthenticated" routerLink="/auth/signup" routerLinkActive="list-itens">Registar</button>
      <button mat-menu-item *ngIf="userIsAuthenticated" routerLink="/" routerLinkActive="list-itens" (click)="onLogout()">Logout</button>
    </mat-menu>
  </ul>
</mat-toolbar>
