
<mat-card>
  <form (submit)="onAddReserva(reservaForm)" #reservaForm="ngForm">
    <h3>Quantidades por Espaço</h3>
    <mat-form-field >
          <input matInput type="number" name="openspace" ngModel required placeholder="Número secretárias OpenSpace" min="0" #openspace="ngModel">
    </mat-form-field>
    <mat-form-field >
        <input matInput type="number" name="salareuniao"  ngModel required placeholder="Número pessoas para Sala de Reunião" min="0" max="5" #salareuniao="ngModel" >
    </mat-form-field>
    <mat-form-field >
    <input matInput type="number" name="salaformacao" ngModel required placeholder="Número pessoas para Sala de Formação" min="0" max="20" #salaformacao="ngModel">
    </mat-form-field>

<h3>Extras</h3>
<section>
<mat-checkbox id="tele" [(ngModel)]="tele" color="primary" name="tele">Telefone</mat-checkbox> <p></p>
<mat-checkbox id="correio"  [(ngModel)]="correio" color="primary" name="correio">Correio</mat-checkbox> <p></p>
<mat-checkbox  id="internet" [(ngModel)]="internet" color="primary" name="internet">Internet</mat-checkbox><p></p>
</section>
    <p></p>
    <button mat-raised-button color="primary" type="submit">
      Guardar Reserva
    </button>
  </form>
</mat-card>



