<h2>Reserve um Espaço</h2>
<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="criarReserva" (ngSubmit)="onAddReserva()" *ngIf="!isLoading">
    <h4><i class="material-icons">
        meeting_room
        </i> Tipo Espaço</h4>
    <mat-form-field>
      <mat-label>Tipo Espaço</mat-label>
      <mat-select formControlName="tipoEspaco">
        <mat-option *ngFor="let reserva of reservas" [value]="reserva">
          {{ reserva }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="criarReserva.get('tipoEspaco').invalid">Por favor escolha um tipo de Espaço!</mat-error>
    </mat-form-field>
    <span *ngIf="criarReserva.value.tipoEspaco === 'Sala de Reunião'">
        <i class="material-icons">
            warning</i><small><ins>Este Espaço tem lotação máxima de 5 Pessoas!</ins></small>
        </span>
  <span *ngIf="criarReserva.value.tipoEspaco === 'Sala de Formação'">
    <i class="material-icons">warning</i><small><ins>Este Espaço tem lotação máxima de 20 Pessoas!</ins></small>
  </span>
    <div *ngIf="criarReserva.value.tipoEspaco === 'Openspace'">
      <h4><i class="material-icons">
          dashboard
          </i> Número Secretárias</h4>
      <mat-slider
        formControlName="numComp"
        thumbLabel
        color="primary"
        *ngIf="criarReserva.value.tipoEspaco === 'Openspace'"
        tickInterval="1"
        min="1"
        max="10"
      ></mat-slider>
      <h4><i class="material-icons">
          grade
          </i>Extras</h4>
      <section>
        <mat-checkbox id="tele" formControlName="tele" color="primary"
          >Telefone</mat-checkbox
        ><br>
        <mat-checkbox id="correio" formControlName="correio" color="primary"
          >Correio</mat-checkbox
        ><br>
        <mat-checkbox id="internet" formControlName="internet" color="primary"
          >Internet</mat-checkbox
        ><br>
      </section>
    </div>
    <div>
      <h4><i class="material-icons">date_range</i> Data da reserva</h4>
      <mat-form-field>
            <input matInput [matDatepicker]="dataI" formControlName="dataInicio" placeholder="Data de Início" />
            <mat-datepicker-toggle matSuffix [for]="dataI"></mat-datepicker-toggle>
            <mat-datepicker  #dataI></mat-datepicker>
            <mat-error *ngIf="criarReserva.get('dataInicio').invalid || !validaData">Por favor insira uma Data de Início de Reserva!</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="dataF" formControlName="dataFim" placeholder="Data de Fim" />
        <mat-datepicker-toggle matSuffix [for]="dataF"></mat-datepicker-toggle>
        <mat-datepicker #dataF></mat-datepicker>
        <mat-error *ngIf="criarReserva.get('dataInicio').invalid">Por favor insira uma Data de Fim de Reserva!</mat-error>
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary" type="submit">
      Guardar Reserva
    </button>
  </form>
</mat-card>
