
<mat-card>
  <form (submit)="onAddReserva(reservaForm)" #reservaForm="ngForm">
    <h3 >Quantidades por Espaço</h3>
    <h5>Número secretárias OpenSpace:</h5>
          <input matInput type="number" name="openspace" ngModel required min="0" #openspace="ngModel">
    <h5>Número pessoas para Sala de Reunião:</h5>
      0 <mat-slider name="salareuniao" ngModel
          thumbLabel
          [displayWith]="formatLabel" required
          tickInterval="1"
          min="0"
          max="5" color="primary" #salareuniao="ngModel">
        </mat-slider> 5
        <h5>Número pessoas para Sala de Formação:</h5>
        0 <mat-slider name="salareuniao" ngModel
        thumbLabel
        [displayWith]="formatLabel" required
        tickInterval="1"
        min="0"
        max="20" color="primary" #salareuniao="ngModel">
      </mat-slider> 20

<h3>Extras</h3>
<section>
<mat-checkbox id="tele" [(ngModel)]="tele" color="primary" name="tele">Telefone</mat-checkbox> <p></p>
<mat-checkbox id="correio"  [(ngModel)]="correio" color="primary" name="correio">Correio</mat-checkbox> <p></p>
<mat-checkbox  id="internet" [(ngModel)]="internet" color="primary" name="internet">Internet</mat-checkbox><p></p>
</section>
    <p></p>
    <button mat-raised-button color="primary" type="submit">
      Guardar Reserva
    </button>
  </form>
</mat-card>



