<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion multi="true" *ngIf="reservas.length > 0 && !isLoading">
    <h2>Espaços Reservados</h2>
  <mat-expansion-panel *ngFor="let reserva of reservas">
    <mat-expansion-panel-header>
      A SUA RESERVA
    </mat-expansion-panel-header>
    <h3>Espaço Reservado:</h3>
    <section>
        <p> <b>Tipo de Espaço</b> -> {{ reserva.tipoEspaco }} </p>
        <p> <b>Lotação máxima</b>  ->  {{ reserva.numComp }} </p>
    </section>
    <section>
        <p> <b>Data de Início</b> -> {{ reserva.dataInicio | date:'dd/MM/yyyy' }}</p>
        <p> <b>Data de Fim</b> -> {{ reserva.dataFim | date:'dd/MM/yyyy' }}</p>
    </section>
  <div *ngIf="!(reserva.tipoEspaco == 'Sala de Reunião' || reserva.tipoEspaco == 'Sala de Formação')">
    <h3 *ngIf="(reserva.tele == true || reserva.correio == true || reserva.internet == true)">Extras:</h3>
    <p id="tele" *ngIf="reserva.tele == true"> Telefone Fixo </p>
    <p id="correio" *ngIf="reserva.correio == true"> Correio Fixo </p>
    <p id="internet" *ngIf="reserva.internet == true"> Internet </p>
    <h4 *ngIf="!(reserva.tele == true || reserva.correio == true || reserva.internet == true)">Sem Extras Reservados!</h4>
  </div>
  <p><b>Estado da reserva</b> -> {{ reserva.estado }}</p>
  <p><b>Custo da reserva</b> -> {{ reserva.custo }}</p>
    <mat-action-row *ngIf="userIsAuthenticated && userId == reserva.creator">
      <button mat-button color="warn" (click)="onDelete(reserva.id)">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<h2 class="info-text mat-body-3" *ngIf="(!(reservas.length > 0) && (!isLoading))"> Sem Reservas! </h2>
<mat-paginator [length]="totalReservas" [pageSize]="reservaPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)" ></mat-paginator>

