<h2>Registo</h2>
<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onSignup(signupForm)"  #signupForm="ngForm" *ngIf="!isLoading">
    <mat-form-field >
      <input matInput name="nome" ngModel minlength="3" type="text" placeholder="Nome" #nomeInput="ngModel" required nome />
      <mat-error *ngIf="nomeInput.invalid">Por favor introduza um nome válido com mínimo 3 caratéres!</mat-error>
    </mat-form-field>
    <mat-form-field >
      <input matInput name="email" ngModel type="email" placeholder="E-mail" #emailInput="ngModel" required email/>
      <mat-error *ngIf="emailInput.invalid" >Por favor introduza um email válido!</mat-error>
    </mat-form-field>
    <mat-form-field >
      <input matInput name="NIF" ngModel type="number" pattern="[1-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]*" placeholder="NIF" #NIFInput="ngModel" required NIF />
      <mat-error *ngIf="NIFInput.invalid" >Por favor introduza um NIF válido com 9 algarismos!</mat-error>
    </mat-form-field>
    <mat-form-field >
      <input matInput name="morada" ngModel type="text" placeholder="Morada" minlength="5" #moradaInput="ngModel" required morada />
      <mat-error *ngIf="nomeInput.invalid" >Por favor introduza uma morada válida!</mat-error>
    </mat-form-field>
    <mat-form-field >
      <input type="password" name="password" ngModel matInput placeholder="Password" minlength="3" #passwordInput="ngModel" required />
      <mat-error *ngIf="passwordInput.invalid" >Por favor introduza uma password válida com mínimo 3 caratéres!</mat-error >
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" *ngIf="!isLoading">Registar</button>
  </form>
</mat-card>
