<h2>Registo</h2>
<mat-card>
    <h3>Dados Utilizador</h3>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="criarUser" (ngSubmit)="onSignup()" *ngIf="!isLoading">
    <mat-form-field >
      <input matInput name="nome" minlength="3" type="text" placeholder="Nome" formControlName="nome" required  />
      <mat-error *ngIf="criarUser.get('nome').invalid">Por favor introduza um nome válido com mínimo 3 caratéres!</mat-error>
    </mat-form-field>
    <mat-form-field >
      <input matInput name="email" type="email" placeholder="E-mail" formControlName="email" required />
      <mat-error *ngIf="criarUser.get('email').invalid" >Por favor introduza um email válido!</mat-error>
    </mat-form-field>
    <mat-form-field >
      <input matInput name="NIF" formControlName="NIF" type="number" pattern="[1-9]+[0-9]*\d{8}" maxlength="9" max="999999999"  placeholder="NIF" required />
      <mat-error *ngIf="criarUser.get('NIF').invalid" >Por favor introduza um NIF válido com 9 algarismos!</mat-error>
    </mat-form-field>
    <mat-form-field >
      <input matInput name="morada" formControlName="morada" type="text" placeholder="Morada" minlength="5" required  />
      <mat-error *ngIf="criarUser.get('morada').invalid" >Por favor introduza uma morada válida!</mat-error>
    </mat-form-field>
    <mat-form-field >
      <input type="password" name="password" formControlName="password" matInput placeholder="Password" minlength="3" required />
      <mat-error *ngIf="criarUser.get('password').invalid" >Por favor introduza uma password válida com mínimo 3 caratéres!</mat-error >
    </mat-form-field>
    <h3>Dados Pagamento</h3>
    <mat-form-field >
      <input matInput formControlName="numCartao" name="numCartao" type="number" pattern="[1-9]+[0-9]*\d{15}" placeholder="Número Cartão Crédito" maxlength="16" required  />
      <mat-error *ngIf="criarUser.get('numCartao').invalid ">Por favor introduza um Número Cartão Crédito válido com 16 algarismos!</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="val" formControlName="validade" placeholder="Validade"/>
      <mat-datepicker-toggle matSuffix [for]="val"></mat-datepicker-toggle>
      <mat-datepicker  #val
      startView="multi-year"
                  panelClass="example-month-picker"></mat-datepicker>
      <mat-error *ngIf="criarUser.get('validade').invalid ">Por favor insira a Validade do seu Cartão!</mat-error>
    </mat-form-field>
      <mat-form-field>
      <input matInput name="ccv" formControlName="ccv" type="number" pattern="[1-9]+[0-9]*\d{2}" maxlength="3" max="999"placeholder="CCV" required  />
      <mat-error *ngIf="criarUser.get('ccv').invalid" >Por favor introduza um CCV válido com 3 algarismos!</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" *ngIf="!isLoading">Registar</button>
  </form>
</mat-card>
