mat-form-field {
  width: 100%;
}

mat-spinner {
  margin: auto;
}

h2{
  text-align: center;
}

.example-month-picker .mat-calendar-period-button {
  pointer-events: none;
}

.example-month-picker .mat-calendar-arrow {
  display: none;
}
