h2 {
  text-align: center;
}

mat-form-field,
textarea{
  width: 100%;

}
mark{
  background-color: #87b5ff;
}

 mat-slider {
  width: 250px;
}

mat-spinner {
 margin: auto;
}

i {
    display: inline-block;
}
section {
  margin-left: 0.5%;
}

p{
  text-align: justify;
}

#openSpace {
  padding-bottom: 40px;
}

#numSecretOpenSpace {
  display: inline-block;
  width: 45%;
  margin-right: 35px;

}
#taxaSecretaria {
  display: inline-block;
  width: 50%;
}

#salaReuniao {
  padding-bottom: 40px;
  }

#numSalaReuniao {
  display: inline-block;
  width: 45%;
  margin-right: 35px;
}
#taxaReuniao {
  display: inline-block;
  width: 50%;
}

#salaFormacao {
  padding-bottom: 40px;
}

#numSalaFormacao {
  display: inline-block;
  width: 45%;
  margin-right: 35px;
}

#taxaFormacao {
  display: inline-block;
  width: 50%;
}

#extras {
  padding-bottom: 30px;
}

#taxaTele {
  display: inline-block;
  width: 30%;
  margin-right: 30px;
}
#taxaCorreio {
  display: inline-block;
  width: 30%;
  margin-right: 30px;
}

#taxaInternet {
  display: inline-block;
  width: 33%;
}



